@page "/EmployeeList"
@using EMP_NEW.Data
@inject Service.EmployeeService objEmployeeService
@inject Service.DepartmentService objDepartmentService


<h1>Employee Informations</h1>
<div style="text-align: right;">
    <button class="btn btn-primary" onclick="window.location.href = 'AddEmployee'">
        <span class="oi oi-pl" aria-hidden="true"></span>
        Add New Employee
    </button>
</div>
<br />


@if (employees == null)
{ 
    <h1>Employee Informations not avalible</h1>
    <p><em> Loding.......!</em></p>
}
else
{
 

        <table id="employeeTable" class="table">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Phone Number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Department</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var employee in employees)
                {
                    <tr>
                        <td>@employee.EmployeeId</td>
                        <td>@employee.Name</td>
                        <td>@employee.City</td>
                        <td>@employee.Country</td>
                        <td>@employee.PhoneNumber</td>
                        @*<td>@employee.department</td>*@
                        <td>
                        <a class="edit-link" href="EditEmployee/{CurrentID}" data-employee-id="@employee.EmployeeId">
                               Edit
                         </a>
                        </td>
                        <td>
                        <a class="delete-link" href="DeleteEmployee/{CurrentID}" data-employee-id="@employee.EmployeeId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

   

}


@code {
    List<Data.Employee> employees;
    List<Data.Department> departments;
    protected override async Task   OnInitializedAsync()
    {
        employees = await Task.Run(() => objEmployeeService.GetEmployee());
        departments = await Task.Run(() => objDepartmentService.GetDepartments());
    }

}
 